<!-- MAQUETADO DEL CELULAR -->
      <div class="caja-superior">
        <button
          class="audio"
          (click)="visualizar = !visualizar"
        ></button>
        <span class="camara"></span>
        <span class="lente-camara"></span>
        <span class="notificaciones"></span>
      </div>

      <div *ngIf="visualizar">
      <!-- DATOS DEL PRODUCTO DENTRO DEL CELULAR -->
      <div  class="pantalla">
        <div class="encabezadoMobile">Resumen del producto:</div>
        <div class="itemsMobile">
          Nombre:
          <p class="itemLlamadoMobile">{{ nombre.value }}</p>
        </div>
        <div class="itemsMobile">
          Cant. por un.:
          <p class="itemLlamadoMobile">{{ cantidadUnidad.value }}</p>
        </div>
        <div class="itemsMobile">
          Precio:
          <p class="itemLlamadoMobile"> $ {{ precio.value }}</p>
        </div>
      </div>

      <div class="caja-inferior">
        <button
          class="boton-guardar"
          [disabled]="this.form.invalid"
          (click)="btnGuardarProducto()"
        ></button>
      </div>
    </div>